*{box-sizing: border-box;}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image:url('fundo2.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
span{
    font-weight: bold;
}
hr {
    width: 100px;
}
header{
    background-color: rgb(255, 255, 255);
    height: 30px;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    z-index: 2;
}
.menu{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
.menu a:hover{
    color: gray;
    font-size: 15px;
}
.contato{
    margin: 0px 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.icone{
    height: 20px;
    margin: 0;
    align-self: center;
    margin-left: 5px;
}
main{
    position: relative;
    top: 30px;
    z-index: 1;
}
.perfil{
    margin-bottom: 20px;
    color: white;
}
.perfil h1{
    font-size: 30px;
    transition-property: font-size;
    transition-duration: 1s;
}
.perfil h1:hover{
    font-size: 40px;
}
.eu {
    height: 200px;
    border: 5px solid white;
    border-radius: 100px;
}
.conteudo section{
    padding-top: 1px;
    padding-bottom: 5px;
}
main .faixa:nth-of-type(odd){
    background: white;
}
main .faixa:nth-of-type(even){
    background: black;
    color: white;
}
.faixa{
    padding: 5px 5px;
}
.faixa h2{
    font-size: 20px;
    transition-property: font-size;
    transition-duration: 1s;
}
.faixa h2:hover{
    font-size: 30px;
}
.servicos {
    margin-top: 0px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}
.servicos h3:hover{
    color: rgb(78, 37, 37);
}
.box-servico{
    margin: 5px 5px;
    padding: 10px;
    padding-top: 0px;
    background-color: rgb(148, 148, 148);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    box-shadow: 10px 10px 10px 10px black;
}
.box-servico p{
    font-size: 15px;
}
.box-servico h3{
    font-size: 20px;
    text-align: center;
    margin:1px;
}
.box-servico img{
    position: cover;
    height: 250px;
}
.projetos{
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-projeto a {
    color: white;
    text-decoration: none;
}
.faixa:last-of-type h2, .faixa:last-of-type h3{
    color:white;
}
footer{
    margin-top: 70px;
    text-align: center;
    color: white;
    z-index: 2;
}